<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
   
    <meta charset="UTF-8"/>

</head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de Funcionários</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/funcionarios/cadastrar" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Cadastrar Funcionários</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">
	
	            <p>
	                <i class="oi oi-magnifying-glass"></i><span></span>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNome"
	                        aria-controls="collapseNome">Nome
	                </button>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCargo"
	                        aria-controls="collapseCargo">Cargo
	                </button>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseData"
	                        aria-controls="collapseData">Datas
	                </button>
	            </p>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseNome">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" th:action="@{/funcionarios/buscar/nome}">
	                                <input class="form-control mr-sm-2" type="search" placeholder="nome" aria-label="Search"
	                                       th:name="nome" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseCargo">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" th:action="@{/funcionarios/buscar/cargo}">
	                                <select class="form-control mr-sm-2" th:name="id" aria-label="Search">
	                                    <option value="">Cargo</option>
	                                    <option th:each="cargo : ${cargos}" th:value="${cargo.id}" th:text="${cargo.nome}"></option>
	                                   
	                                </select>
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseData">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" th:action="@{/funcionarios/buscar/data}">
	                                <input class="form-control mr-sm-2" type="date" aria-label="Search"
	                                       th:name="entrada" />
	                                <input class="form-control mr-sm-2" type="date" aria-label="Search"
	                                       th:name="saida" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	
				<div th:replace="fragments/alert"></div>
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th th:text="#{tabela.funcionario.col.nome}">Nome</th>
	                        <th th:text="#{tabela.funcionario.col.salario}">Salário</th>
	                        <th th:text="#{tabela.funcionario.col.departamento}">Departamento</th>
	                        <th th:text="#{tabela.funcionario.col.cargo}">Cargo</th>
	                        <th th:text="#{tabela.funcionario.col.endereco}">Endereço</th>
	                        <th th:text="#{tabela.funcionario.col.dataEntrada}">Data de Entrada</th>
	                        <th th:text="#{tabela.funcionario.col.dataSaida}">Data de Saída</th>
	                        <th th:text="#{tabela.funcionario.col.acao}">Ação</th>
	                    </tr>
	                    </thead>
	                    <tbody th:each="funcionario : ${funcionarios}">
	                    <tr>
	                        <td th:text="${funcionario.id}"></td>
	                        <td th:text="${funcionario.nome}"></td>
	                        <td th:text="| R$ ${{funcionario.salario}}|">R$ 3.500,99</td>
	                        <td th:text="${funcionario.cargo.departamento.nome}">Recursos Humanos</td>
	                        <td th:text="${funcionario.cargo.nome}">Auxiliar de RH</td>
	                        <td>
	                            <button type="button" class="btn btn-secondary btn-sm" data-container="body"
	                                    data-toggle="popover" data-placement="top"
	                                   th:attr="data-content=${#strings.concat(
	                                   funcionario.endereco.logradouro, ', ',
	                                   funcionario.endereco.numero, ' ',
	                                   funcionario.endereco.complemento, ' - ',
	                                   funcionario.endereco.bairro, ', ',
	                                   funcionario.endereco.cidade, ' - ',
	                                   funcionario.endereco.uf.sigla, ' - ',
	                                   funcionario.endereco.cep
	                                   )}">
	                                <span class="oi oi-eye" title="Visualizar" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                        <td th:text="${#temporals.format(funcionario.dataEntrada, 'dd/MM/yyyy')}">01/10/2014</td>
	                        <td th:text="${#temporals.format(funcionario.dataSaida, 'dd/MM/yyyy')}"></td>
	                        <td colspan="2">
	                            <a class="btn btn-info btn-sm" th:href="@{/funcionarios/editar/{id} (id=${funcionario.id})}" role="button">
	                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
	                            </a>
	                            <button th:id="${#strings.concat('btn_funcionarios/excluir/', funcionario.id) }" type="button" class="btn btn-danger btn-sm"
	                                    data-toggle="modal" data-target="#myModal">
	                                <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                    </tr>
	                   
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        
	        <div  th:replace="fragments/modal :: modal (message = ${mensagem})"></div>
	    </section>


</body>
</html>		