<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>

		<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span th:text="#{sidebar.link.home}"></span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.departamento}"></span></li>
					<li class="nav-item"><a class="nav-link"
						href="/departamentos/cadastrar"> <i class="oi oi-plus"></i> <span th:text="#{sidebar.link.cadastrar}"></span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/departamentos/listar"> <i class="oi oi-spreadsheet"></i>
							<span th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.cargo}"></span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/cargos/cadastrar"> <i class="oi oi-plus"></i> <span th:text="#{sidebar.link.cadastrar}"> </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/cargos/listar"> <i
							class="oi oi-spreadsheet"></i> <span th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.funcionario}"></span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/funcionarios/cadastrar"> <i class="oi oi-plus"></i> <span th:text="#{sidebar.link.cadastrar}"> </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/funcionarios/listar"> <i class="oi oi-spreadsheet"></i> <span th:text="#{sidebar.link.listar}"> </span>
					</a></li>
				</ul>
			</nav>
</body>
</html>